<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875119458753-nrf2kjimqpt5brb13ml1q6et0k1nap5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875119458753-nrf2kjimqpt5brb13ml1q6et0k1nap5t</string>
	<key>API_KEY</key>
	<string>AIzaSyBiHaDoKMWASVpACuHOR93eaUAGEPLxLYY</string>
	<key>GCM_SENDER_ID</key>
	<string>875119458753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.piotrpeczkowski.myTodoApp</string>
	<key>PROJECT_ID</key>
	<string>mytodo-app-final</string>
	<key>STORAGE_BUCKET</key>
	<string>mytodo-app-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875119458753:ios:b20e86e88c705e0ca75740</string>
</dict>
</plist>